@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/spinners";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&display=swap");

* {
  font-family: "Baloo Da 2", cursive;
}

// html {
//   height: 100vh;
//   background: rgba(31, 143, 255, 1);
//   background: -moz-linear-gradient(
//     -45deg,
//     rgba(31, 143, 255, 1) 0%,
//     rgba(16, 192, 224, 1) 50%,
//     rgba(0, 240, 192, 1) 100%
//   );
//   background: -webkit-gradient(
//     left top,
//     right bottom,
//     color-stop(0%, rgba(31, 143, 255, 1)),
//     color-stop(50%, rgba(16, 192, 224, 1)),
//     color-stop(100%, rgba(0, 240, 192, 1))
//   );
//   background: -webkit-linear-gradient(
//     -45deg,
//     rgba(31, 143, 255, 1) 0%,
//     rgba(16, 192, 224, 1) 50%,
//     rgba(0, 240, 192, 1) 100%
//   );
//   background: -o-linear-gradient(
//     -45deg,
//     rgba(31, 143, 255, 1) 0%,
//     rgba(16, 192, 224, 1) 50%,
//     rgba(0, 240, 192, 1) 100%
//   );
//   background: -ms-linear-gradient(
//     -45deg,
//     rgba(31, 143, 255, 1) 0%,
//     rgba(16, 192, 224, 1) 50%,
//     rgba(0, 240, 192, 1) 100%
//   );
//   background: linear-gradient(
//     135deg,
//     rgba(31, 143, 255, 1) 0%,
//     rgba(16, 192, 224, 1) 50%,
//     rgba(0, 240, 192, 1) 100%
//   );
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8fff', endColorstr='#00f0c0', GradientType=1 );
// }

// body {
//   background-color: transparent;
// }

.primary-color {
  color: $first-color-theme;
}

.second-color {
  color: $second-color-theme;
}

.black-color {
  color: $color-black;
}

.grey-color {
  color: $color-light-grey;
}
